/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #151515FF;
    background-alt: #301e1eFF;
    foreground:     #de3131FF;
    selected:       #BD93F9FF;
    active:         #50FA7BFF;
    urgent:         #FF5555FF;
}
